
:root {
    --bg-color: #26d2ed;
    --text-color: #984bf7;
    --card-color: #e9eff0;
}

[data-theme="dark"] {
    --bg-color: #07031a;
    --text-color: #e62222;
    --card-color: #66fc2f;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}


.dashboard {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main";
    grid-template-columns: 200px 1fr;
    height: 100vh;
}

header {
    grid-area: header;
    padding: 15px;
    background: var(--card-color);
    display: flex;
    justify-content: space-between;
}

aside {
    grid-area: sidebar;
    padding: 15px;
    background: var(--card-color);
}

main {
    grid-area: main;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.card {
    background: var(--card-color);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}


@media (max-width: 600px) {
    .dashboard {
        grid-template-areas:
            "header"
            "main";
        grid-template-columns: 1fr;
    }
    aside {
        display: none;
    }
}
